<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <!-- Botón para móviles -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Contenido del menú -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- <li class="nav-item" *ngIf="isLogged()">
                    <a class="nav-link" href="#">Menú 1</a>
                </li>
                <li class="nav-item" *ngIf="isLogged()">
                    <a class="nav-link" href="#">Menú 2</a>
                </li> -->
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'admin'">
                    <a class="nav-link" routerLink="/admin/especialidad">Gestionar Especialidades</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'admin'">
                    <a class="nav-link" routerLink="/admin/expert-users">Gestionar Expertos</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'admin'">
                    <a class="nav-link" routerLink="/admin/ganadores">Ganadores</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'experto'">
                    <a class="nav-link" routerLink="/experto/lista-participantes">Lista de participantes</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'experto'">
                    <a class="nav-link" routerLink="/experto/pruebas">Pruebas</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'experto'">
                    <a class="nav-link" routerLink="/experto/evaluaciones">Evaluaciones</a>
                </li>
                <li class="nav-item" *ngIf="isLogged() && getRole() === 'experto'">
                    <a class="nav-link" routerLink="/experto/experto">Listado de especialidades</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <p class="navbar-text text-light me-3" *ngIf="isLogged()">Has iniciado sesión como {{ getNombre() }}</p>
                <li class="nav-item" *ngIf="isLogged()">
                    <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
                </li>
                <li class="nav-item" *ngIf="!isLogged()">
                    <button class="btn btn-outline-primary" (click)="login()">Login</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
